@import "../utils/colors.scss";
@import '../mainConfig.scss';

.brand {
  cursor: pointer;
  margin-top: 0;
  @extend %centering;
  .span {
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    border: 0.1rem solid #f50460;
    font-size: xx-large;
    font-weight: 700;
    border-radius: 0.3rem;
    letter-spacing: 0.2rem;
    color: $blueColor;
  }
}
.brand {
  .inFooter {
    background-color: transparent;
    color: white;
    border: 0.1rem solid white;
  }
}
