@import '../mainConfig.scss';
@import '../utils/colors.scss';

.test-container{
  background-color: white;
  border-radius: 1rem;
  padding:1rem;
  transition: $main-transition;
  box-shadow: $boxShadow;
  margin:0 auto;
  width:100%;
  &:hover {
    box-shadow:$boxShadowHover;
  }
  .quote{
    margin:0;
    line-height: 1;
    padding: 0;
    span{
      font-size: 4rem;
      color:$buttonPinkColor;
      margin:0;
      padding: 0;
      line-height: 1;
    }
  }
  .content{
    color:$lightFontColor;
    margin-top:.5rem;
    font-weight: 600;
    line-height: 1.6;
  }
  .info{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap:.3rem;
    margin-top:1.3rem;
    .name{
      color:$headingColor;
      font-size: 1.2rem;
      font-weight: bolder;
    }
    .description{
      font-size:1.1rem;
      color:$pinkColor;
    }
  }
}

@media (min-width: 320px) and (max-width:768px) {
  .test-container{
    .quote{
      span{
        font-size: 2rem;
      }
    }
    .content{
      font-size:1rem;
      font-weight: normal;
      line-height: normal;
    }
  }
}

